{% extends "layout.html" %}

{% block title %}
    Student
{% endblock %}

{% block body %}
    <h1>Essay Submission's Platform</h1>
    <a href="/logout" class="btn btn-info btn-lg">
    	<span class="glyphicon glyphicon-log-out"></span> Log out
    </a>
	{% with message = get_flashed_messages() %}
		{% if message%}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
			  <strong>Essay submitted!</strong>
			</div>
		{% endif %}
		
	{% endwith %}
	
    <form method="POST" action="{{ url_for('student') }}">
    	<div class="form-group">
	    <label for="select_topic">Select your topic</label>
	    <select class="form-control" name="select_topic">
	      {% for topic in topics %}
	      	<option value="{{ topic.id }}">{{ topic.topic_name }}</option>
	      {% endfor %}
	    </select>
	  </div>
	  <div class="form-group">
	    <label for="essay">Your Essay</label>
	    <textarea class="form-control" id="essay_content" name="essay_content" rows="16"></textarea>
	  </div>
	  <button type="submit" class="btn btn-primary">Submit Essay</button>
    </form>

{% endblock %}
